@charset "utf-8";
/* STEP 3: Set character encoding (must be first line of file) */


/* STEP 4a: Set the border properties on the DIV#container - border-width, border-style, border-color */
div#container {
  border-width: 10px;
  border-style: solid;
  border-color: black;
}

/* STEP 4b: Control one of the four borders independently of the others - try border-top-style */
div#container {
  border-top-style: dashed;
}

/* STEP 4c: Apply shorthand to bottom border (border-bottom-width) using the clock rule (TRBL)
   Example: border-width: top right bottom left;
*/
div#container {
  border-width: 10px 10px 20px 10px; /* bottom set to 20px */
}


/* STEP 5a: Set padding values on the DIV#container element - set individual padding values,
   then use shorthand with the clock rule again (TRBL) */
div#container {
  padding: 50px 20px 40px 10px; /* padding TRBL */
  margin: 5% auto;
  background-color: lemonchiffon;
  background-image: url('../images/stucco.jpg');
}

/* STEP 5b: Apply a background-image to the same element (controlling repeat, position, size) */
div#container {
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}

/* STEP 5c: APPLY background-image to BODY instead */
body {
  background-image: url('../images/stucco.jpg');
  background-size: cover;
  background-repeat: repeat;
  font-size: 150%;
}

div#container {
  background-color: lemonchiffon; /* moved here per step */
}


/* STEP 6a: Control the width of the DIV#container with a fixed unit (px) */
div#container {
  width: 800px;
}

/* STEP 6b: Change the width to a relative unit (%) */
div#container {
  width: 80%;
}

/* STEP 6c: Use an elastic unit (em) and change the base font-size on BODY element */
body {
  font-size: 18px; /* base size changed */
}

div#container {
  width: 50em;
}


/* STEP 7a: Set width back to fixed, adjust height so content no longer fits */
div#container {
  width: 600px;
  height: 100px;
}

/* STEP 7b: Apply various overflow values (example: auto) */
div#container {
  overflow: auto; /* try auto, hidden, visible, scroll */
}


/* STEP 8a: Change display of H1 EM to block then inline-block */
h1 em {
  display: inline-block; /* first block, then inline-block */
}

/* STEP 8b: Manipulate visibility */
h1 em {
  visibility: visible; /* try hidden to hide without shifting layout */
}


/* STEP 10: Use Flexbox on MAIN */
main {
  display: flex;
  justify-content: space-between;
}


/* STEP 8c: Set width of MAIN SECTION elements to 30%, arranged side-by-side */
main section {
  width: 30%;
  border: 5px solid blue;
}

/* color second box border red */
main section:nth-of-type(2) {
  border-color: red;
}


/* STEP 9: float the SECTION P IMG element to left, then right */
main section p img {
  float: left;  /* or right */
}
